<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VehicleRepository.Properties.Settings.VehicleDatabaseConnectionString"
            connectionString="Data Source=myazureserver1.database.windows.net;Initial Catalog=VehicleDatabase;User ID=luimar;Password=Vattenmelon5;Connect Timeout=30;Encrypt=True;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>